.form-container {
  height: 258px;
  width: 355px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.1), -1px 0 2px #a8bfdb, 1px 0 2px #a8bfdb;
  margin-right: 10px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 33%;
  width: 100%;
  background: #2663be;
  box-shadow: 0px -1px 0.5px #245eba, 0 -2px 0 #235fbf, 0 -2.5px .5px #245eba;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  font-family: sans-serif;
}

.bottom a {
  cursor: pointer;
  margin-left: 7%;
  font-size: 11px;
  font-weight: 940;
  text-shadow: 0 0.1px 0 #6b9ee5, 0 0.15px 0 #2762be, 0 0.3px 0 #091729, 0 0.4px 0 #091523;
  filter: blur(.55px);
  /*text-shadow: 0 0 .1px #6497df;*/
  color: #70a2e7;
}

.container {
  height: 77%;
  width: 100%;
  background: linear-gradient(#3681d0, #2e6fc9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0px -1.5px .25px #539ad2;
}

input::placeholder {
  color: #70a2e7;
  text-shadow: 
    0 .1px 0 #1f5598,
    0 .2px 0 #194780,
    0 .3px 0 #163965,
    0 .4px 0 #102948;
  letter-spacing: -.5px;
  filter: blur(.65px);
  font-weight: lighter;
}

#password {
  color: transparent;
  text-shadow: 0 0 .7px white; 
  letter-spacing: .7px;
}

.input-field {
  color: transparent;
  text-shadow: 0 0 .7px white;
  caret-color: black;
  height: 37px;
  width: 75%;
  padding-left: 25px;
  border: 2.5px;
  border-radius: 6px;
  border-style: solid;
  background: #2360ac;
  border-color: #2360ac;
  outline: none;
  font-size: 13px;
  line-height: 20px;
  box-shadow: 0 -1px .4px #20497d;
}

.input-field:focus {
  background: #21579d;
  border-color: #21579d;
/*   box-shadow: 0 -1px .3px #153a69; */
}

.input-field:first-of-type {
  margin-bottom: 13px;
}

.input-field:last-of-type {
  margin-top: 13px;
}

#login-button {
  cursor: pointer;
  box-shadow: 0 1px 3px #245aab, 0 -0.5px 1px #a3bde6, -1px 0 1px #527fc2, 1px 0 1px #527fc2;
  height: 40px;
  width: 90px;
  margin-right: 8.5%;
  border-radius: 5px;
  border: 0px;
  background: linear-gradient(#c5daf6, #89acda);
  color: #556d8c;
  font-size: 10px;
  font-weight: 749;
  letter-spacing: -.3px;
  filter: blur(.4px);
}

#out {
  display: flex;
  align-items: center;
}